    <!-- START COPYRIGHT -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="left span6">
                    <p>
                        <a href=""><img src="" alt="Products Evolution" style="position:relative; top:9px; margin: -22px 5px 0 0;"></a>&nbsp;Copyright 2017 - <strong>Crebassa Gilles</strong>
                    </p>
                </div>
                <div class="right span6">
                    <p>
                        <a href=""><strong>About</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->